header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F55A5A;
  color: #FFFFFF;
  height: 55px;
}

header > img {
  width: 50px;
  margin-right: 10px;
}

header > h1 {
  font-size: 0.9rem;
  font-weight: 700px;
  font-family: Inter;
}

.entry {
  display: flex;
  align-items: center;
  width: 80%;
  gap: 1rem;
  margin: 40px 50px;
}

.detail {
  width: 75%;
}

.place-img {
  width: 125px;
  height: 168px;
  top: 100px;
  left: 40px;
  border-radius: 5px;
}

.top {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 15px;
  margin-bottom: 10px;
}

.location {
  display: flex;
  align-items: center;
  gap: 10px;
}

.marker-logo {
  width: 7px;
}
.details--location{
  font-family: Inter;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 100%;
  letter-spacing: 17%;

}

.details--link {
  color: #918E9B;
  font-weight: 400px;
  font-size: 10.24px;
}

h2 {
  font-size: 25px;
  margin-top: 0;
}

p {
  font-family: Inter;
  font-weight: 400;
  font-size: 10.24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #2B283A;
}

p.date {
  font-weight: 700;
  font-size: 10.24px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer > span {
  margin-left: 10px;
}